/* include imports and @ stuff */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* About */
#topNavBar-container {
    height: 105px;
    width: 100%;
    background-color: rgb(22, 72, 99);    
    font-family: 'Krona One', sans-serif;
    display: flex;
    position: sticky;
    top: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    z-index: 10;
}
#logo-top{
    padding: 20px;
}
#logo{
    width: 100px;
    height: 100px;
}
#tabs-container {
    height: 25%;
    padding-left: 900px;
    display: flex;
}
.tabsName {
    font-weight: bolder;
    font-size: 24px;
    padding-left: 10px;
    cursor: pointer;
}

.nav-tab:hover {
    cursor: pointer;
    transform: scale(1.05); /* Scale up the tab on hover */
}
.nav-tab {
    margin-right: 20px;
    transition: transform 0.3s ease; /* Add transition for smoother animation */
}


#homeTab {
    color: white;
    padding-left: 60px;
    display: flex;
}
#aboutTab {
    color: white;
    padding-left: 60px;
    display: flex;
}
#prodTab {
    color: white;
    padding-left: 60px;
    display: flex;
}
#locTab {
    color: white;
    padding-left: 60px;
    display: flex;
}
.tabsName {
    position: relative; /* Ensure the underline is relative to the text */
    text-decoration: none; /* Remove default underline */
    transition: font-size 0.3s ease; /* Add transition for font size */
}
.tabsName::after {
    content: ''; /* Add a pseudo-element for the underline */
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust the position of the underline */
    width: 0;
    height: 2px;
    background-color: #fff; /* Color of the underline */
    transition: width 0.3s ease; /* Add animation to the underline */
}
.tabsName:hover::after {
    width: 100%; /* Expand the width of the underline on hover */
}

#content-container{
    background-color: white;    
    font-family: 'Krona One', sans-serif;
    position: sticky;
    top: 0;
}
#history{
    display: flex;
}
#history-content{
    margin: auto;
    display: block;
    max-width: 700px;
    text-align: center;
}
#hsitoText{
    padding-bottom: 2vh;
    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
    font-weight:700;
    font-size:55px;
}
#history-content p{
    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
    font-size:20px;
    max-width:900px;
}
.line{
    border-bottom: 500px solid #888;
}
#services-container {
    position: relative; /* Ensure the container is positioned relatively */
    padding-top: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(221, 242, 253);
}
#services-content{
    margin: auto;
    display: block;
    text-align: center; 
    width: 900px;
    padding-bottom: 5vh;
}

#services-content h1{
    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
    font-weight:700;
    font-size:55px;
}

#services-content p{
    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
    font-size: 20px;
}
#servText{
    padding-bottom: 2vh;
}
#p1{
    height: 80vh;
    width: 50vh;
    padding-left: 15px;
}
#p2{
    height: 80vh;
    width: 50vh;
    padding-left: 15px;
}

#botNavBar-container {
    height: 110px;
    width: 100%;
    background-color: rgb(22, 72, 99);    
    font-family: 'Krona One', sans-serif;
    display: flex;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    align-items: absolute;
    z-index: 10;
}


#botNavBar-container span {
    display: inline-block;
    width: 7px; 
    height: 100px;
    background-color: white;
    margin: 5px 10px 0; 
    border-radius: 50px;
}


#logo-bot{
    padding-left: 600px;
}
#info{
    display: flex;
    flex-grow: 1;  
    color: white;
}
#find{
    color: white;
    width:15em;
    text-align:center;
    padding-top: 8px;
}
#addr{
    padding-top: 10px;
}
#contact{
    color: white;
    width:10em;
    text-align:center;
    padding-top: 8px;
}
#num{
    padding-top: 10px;
}
#socials{
    color: white;
    width:10em;
    text-align:center;
    padding-top: 8px;
}
#soc{
    padding-top: 10px;
}




.fa-brands {
    transition: color 0.3s ease;
    padding-top: 20px;
    padding-right:4px;
    font-size:50px;
}

.fa-brands:hover {
    color:#1877F2 !important;
}

