/* include imports and @ stuff */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Home */
#topNavBar-container {
    height: 105px;
    width: 100%;
    background-color: rgb(22, 72, 99);    
    font-family: 'Krona One', sans-serif;
    display: flex;
    position: sticky;
    top: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    z-index: 10;
}
#logo-top{
    padding: 20px;
}
#logo{
    width: 100px;
    height: 100px;
}
#tabs-container {
    height: 25%;
    padding-left: 900px;
    display: flex;
}
.tabsName {
    font-weight: bolder;
    font-size: 24px;
    padding-left: 10px;
}
#homeTab {
    color: white;
    display: flex;
}
#aboutTab {
    color: white;
    display: flex;
}
#prodTab {
    color: white;
    display: flex;
}
#locTab {
    color: white;
    display: flex;
}
#botNavBar-container {
    height: 110px;
    width: 100%;
    background-color: rgb(22, 72, 99);    
    font-family: 'Krona One', sans-serif;
    display: flex;
    position: fixed;
    bottom: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    align-items: absolute;
    z-index: 10;
}
#logo-bot{
    padding-left: 600px;
}
#find{
    color: white;
    width:15em;
    text-align:center;
    padding-top: 8px;
}
#addr{
    padding-top: 10px;
}
#contact{
    color: white;
    width:10em;
    text-align:center;
    padding-top: 8px;
}
#num{
    padding-top: 10px;
}
#socials{
    color: white;
    width:10em;
    text-align:center;
    padding-top: 8px;
}
#soc{
    padding-top: 10px;
}

span {
    height: 110px;
    width: 3px;
    background-color: white;
    border-radius: 99px;
    margin: 5 20px;
}

.nav-tab {
    margin-right: 20px;
    transition: transform 0.3s ease; /* Add transition for smoother animation */
}


.nav-tab:hover {
    cursor: pointer;
    transform: scale(1.05); /* Scale up the tab on hover */
}
.tabsName {
    font-weight: bolder;
    font-size: 24px;
    padding-left: 10px;
    transition: background-color 0.3s, font-size 0.3s;
}

#upperBox{
    border-bottom:#333 1px solid;
    height:40vh;

}

.home-intro{
    margin: 50px;
    padding-top: 50px;
    max-width: 650px;
}

.learn-button {
    display: block;
    margin-top: 20px; /* Adjust spacing between text and button */
    padding: 10px 20px;
    background-color: rgb(32, 105, 145) ; /* Example background color */
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.learn-button:hover {
    background-color: rgb(22, 72, 99); /* Example hover background color */
}

#secondBox{
    background-color:#CAF0F8 ;
    border-bottom:#333 1px solid;
    height:60vh;
}

.second-intro{
    display:flex;
    align-items: center;   
    justify-content: center;
    height:100%;
}

#secondBox h1{
    margin-top:20px;
    height:100%;
}

#thirdBox{
    border-bottom:#333 1px solid;
    height:40vh;
}


.fa-brands {
    transition: color 0.3s ease;
    padding-top: 20px;
    padding-right:4px;
    font-size:50px;
}

.fa-brands:hover {
    color:#1877F2 !important;
}
