/* include imports and @ stuff */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Product */
#topNavBar-container {
    height: 105px;
    width: 100%;
    background-color: rgb(22, 72, 99);    
    font-family: 'Krona One', sans-serif;
    display: flex;
    position: sticky;
    top: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    z-index: 10;
}
#logo-top{
    padding: 20px;
}
#logo{
    width: 100px;
    height: 100px;
}
#tabs-container {
    height: 25%;
    padding-left: 900px;
    display: flex;
}
.tabsName {
    font-weight: bolder;
    font-size: 24px;
    padding-left: 10px;
}
#homeTab {
    color: white;
    padding-left: 60px;
    display: flex;
}
#aboutTab {
    color: white;
    padding-left: 60px;
    display: flex;
}
#prodTab {
    color: white;
    padding-left: 60px;
    display: flex;
}
#locTab {
    color: white;
    padding-left: 60px;
    display: flex;
}
#botNavBar-container {
    height: 110px;
    width: 100%;
    background-color: rgb(22, 72, 99);    
    font-family: 'Krona One', sans-serif;
    display: flex;
    position: fixed;
    bottom: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    align-items: absolute;
    z-index: 10;
}
#logo-bot{
    padding-left: 600px;
}
#info{
    display: flex;
    flex-grow: 1;  
    color: white;
}
#find{
    color: white;
    width:15em;
    text-align:center;
    padding-top: 8px;
}
#addr{
    padding-top: 10px;
}
#contact{
    color: white;
    width:10em;
    text-align:center;
    padding-top: 8px;
}
#num{
    padding-top: 10px;
}
#socials{
    color: white;
    width:10em;
    text-align:center;
    padding-top: 8px;
}
#soc{
    padding-top: 10px;
}
#botNavBar-container span {
    display: inline-block;
    width: 7px; 
    height: 100px;
    background-color: white;
    margin: 5px 10px 0; 
    border-radius: 50px;
}
.nav-tab {
    margin-right: 20px;
    transition: transform 0.3s ease; /* Add transition for smoother animation */
}


.nav-tab:hover {
    cursor: pointer;
    transform: scale(1.05); /* Scale up the tab on hover */
}

/* Product page */
#products {
    margin-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    gap: 100px;

    text-align: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#products p{
    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
    font-size:20px;
}
/* Apply border to the right of each product except the small bottle */
#products{
    border-right: 1px solid #ccc;
}


.product {
    width: 200px;
    height: 250px;
    transition: transform 0.3s ease; /* Add smooth transition effect */
}

.product:hover {
    transform: scale(1.05); /* Scale the image by 5% on hover */
    cursor:pointer
}

.tabsName {
    position: relative; /* Ensure the underline is relative to the text */
    text-decoration: none; /* Remove default underline */
    transition: font-size 0.3s ease; /* Add transition for font size */
}


.tabsName::after {
    content: ''; /* Add a pseudo-element for the underline */
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust the position of the underline */
    width: 0;
    height: 2px;
    background-color: #fff; /* Color of the underline */
    transition: width 0.3s ease; /* Add animation to the underline */
}

.tabsName:hover::after {
    width: 100%; /* Expand the width of the underline on hover */
}



.fa-brands {
    transition: color 0.3s ease;
    padding-top: 20px;
    padding-right:4px;
    font-size:50px;
}

.fa-brands:hover {
    color:#1877F2 !important;
}


